@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --color-white: #FFFFFF;
  --color-background: #F6F3E9;
  --color-primary: #023320;
  --color-red: #7F1100;
  --color-gold: #BF9961;
  --color-cream: #FaF9F4;
  --color-dark-text: #17211E;
  --color-muted-text: #71837A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-white: var(--color-white);
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-cream: var(--color-cream);
  --color-red: var(--color-red);
  --color-gold: var(--color-gold);
  --color-dark-text: var(--color-dark-text);
  --color-muted-text: var(--color-muted-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-text);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--color-background);
  color: var(--color-dark-text);
}

input[type="radio"]{
  all: unset;
}

@media (max-width:500px) {
  body::-webkit-scrollbar{
    display: none;
  }
}